
/* Styly pro popup.html */
body {
font-family: Arial, sans-serif;
background-color: #f5f5f5;
margin: 0;
padding: 0;
}

.grid-container {
display: flex;
flex-direction: column;
align-items: center;
width: 320px;
padding: 1rem;
}
.hero-text{
font-size: 1rem;
font-weight: 700;
color: #272829;
text-decoration: none;
}

.hero {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
align-items: center;
justify-items: center;
padding: 20px;
border-radius: 5px;
box-shadow:  0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
background-color: white;
}
.logo{
width: 100px;
height: 100px;
background-size: contain;
background-repeat: no-repeat;
background-image: url('../images/logo.png');
}
.hero h2 {
    font-size: 1rem;
    margin: 0;
    justify-self: center;
    align-self: start;
}
.data{
width: 100%;
}
/* Styly pro progress bar */
.progress-bar {
width: 100%;
height: 2.9rem;
margin-top: 0.7rem;
margin-bottom: 0.7rem;
background-color: #FBFBFD;
border-radius: 5px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#div-social, #div-education, #div-work, #div-research, #div-other {
display: flex;
align-items: center;
justify-content: flex-start;
max-width: 305px;
color: #272829;
font-weight: 800;
height: 2.5rem;
padding: 0.2rem 0.2rem 0.2rem 1rem;
font-size: 0.8rem;
border-radius: 5px;
background-color: #D8D9DA;
transition:  filter 0.2s ease-out;
}

#div-social:hover, #div-education:hover, #div-work:hover, #div-research:hover, #div-other:hover {
cursor: pointer;
color: #000000;
background-color: #e6e7e7;
filter: brightness(0.6);
}

#detailed-data{
padding: 10px;
}
.detailed-item{
min-width: 280px;
background-color: white;
border-radius: 5px;
padding: 10px;
margin: 10px;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
transition: background-color 0.3s ease, filter 0.2s ease-out, width 0.3s ease;
}

.detailed-item:hover{
width: 279px;

filter: brightness(0.95);

}

.detailed-item a{
font-size: 0.8rem;
font-weight: 800;
text-decoration: none;
color: #272829;
}
.detailed-item span{
font-size: 1rem;
font-weight: 800;
text-decoration: none;
color: #272829;
}
/* Styly pro tlačítko Clear Data */
#clear-data-button {

justify-self: stretch;
align-self: start;
padding: 10px 20px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

#clear-data-button:hover {
background-color: #45a049;
}

#clear-data-button:active {
background-color: #3d8b3d;
}

/* Styly pro tlačítko Donate */
.donate {
display: flex;
justify-content: center;
padding: 10px 20px;
background-color: #007bff;
color: white;
text-decoration: none;
border: none;
border-radius: 5px;
cursor: pointer;
}

/* Styly pro footer */
.footer {
opacity: 0;
animation: fadeIn 1s ease-in-out forwards;
animation-delay: 2s;
}

@keyframes fadeIn {
to {
  opacity: 1;
}
}

/* Styly pro autorovy ikony */
.author {
display: flex;
flex-direction: row;
}

